.author {
    text-align: center;
    border-top: 1px solid #f8798a;
    width: 1200px;
    margin: 0 auto;
    margin-top: 90px;
    padding-top: 22px;

    &__copy {
        letter-spacing: 1.5px;
    }

    &__desc {
        font-size: 11px;
        margin-bottom: 15px;
        letter-spacing: 0.8px;
    }
}
