.user {
    position: relative;
    width: 244px;
    background-color: rgba(194, 53, 43, 0.6);
    height: 172px;
    transition: all 0.4s;
    letter-spacing: 1.1px;
    line-height: 1.0;

    &__empty {
        width: 120px;
        margin-top: 62px;
        margin-right: 44px;
        margin-left: 81px;
        text-decoration: none;
        color: #fefeff;
        font-size: 28px;
        display: inline-block;
        //display: none;

        &:visited {
            color: #fefeff;
        }

        &:hover {
        }

        &:active {
        }
    }

    &__wrap {
        display: none;
        margin-left: 81px;
    }

    &__name {
        color: #fefeff;
        font-size: 28px;
        width: 120px;
        margin-top: 45px;
        margin-bottom: 10px;

    }

    &__profile {
        position: relative;
        color: #ffe745;
        font-size: 13px;
        margin-top: 0;
        padding-bottom: 1px;
        text-decoration: none;


        &:visited {
            color: #ffe745;
        }

        &:hover {
            border-bottom: 1px solid #ffe745;
        }

        &:active {
        }

        &::before {
            content: '';
            position: absolute;
            height: 14px;
            width: 14px;
            left: 79px;
            top: 2px;
            background-image: url('./../img/up.png');
        }
    }

    &:before {
        content: '';
        height: 27px;
        width: 26px;
        left: 36px;
        top: 66px;
        position: absolute;
        background-image: url('./../img/user.png');
    }
}
