

body {
    background-color: #890000;
    background-image: url('../img/fon.jpg');
    font-family: 'Georgia', 'Times New Roman', serif ;
    font-size: 13px;
    color: #fefeff;
    margin: 0;
    letter-spacing: 1.1px;
}

img {
    max-width: 100%;
    height: auto;
}
