@font-face {
    font-family: 'Lato';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/LatoRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/LatoBold.woff2') format('woff2');
}
@font-face {
    font-family: 'Lato';
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/LatoBlack.woff2") format("woff2");
}
