body {
  background-color: #890000;
  background-image: url("../img/fon.jpg");
  font-family: 'Georgia', 'Times New Roman', serif;
  font-size: 13px;
  color: #fefeff;
  margin: 0;
  letter-spacing: 1.1px; }

img {
  max-width: 100%;
  height: auto; }

.to-uppercase {
  text-transform: uppercase; }

.header {
  position: relative;
  background: url("./../img/fon-top.jpg");
  height: 608px; }
  .header__wrap {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 25px; }
    .header__wrap:before {
      content: '';
      height: 160px;
      width: 313px;
      position: absolute;
      background-image: url("./../img/leaf.png");
      left: -69px;
      top: 267px;
      z-index: 5; }
  .header__wrap-catalog {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 25px; }

.header__pizza {
  display: flex;
  margin: 0 auto;
  min-width: 1200px;
  position: relative;
  max-width: 1500px; }
  .header__pizza:after {
    content: '';
    height: 389px;
    width: 354px;
    position: absolute;
    background-image: url("./../img/pizza-slider.png");
    right: 0;
    top: 150px;
    z-index: 1; }

.logo {
  margin-right: 9px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 109px 0;
  height: 182px; }

.main-navigation {
  position: relative;
  margin: 20px auto;
  width: 1200px;
  border-top: 1px solid #f67568;
  max-width: 810px;
  z-index: 2; }
  .main-navigation:before {
    content: '';
    height: 9px;
    width: 13px;
    left: 405px;
    top: -5px;
    position: absolute;
    background-image: url("./../img/cub.png"); }
  .main-navigation__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 25px; }
  .main-navigation__link {
    color: #fefeff;
    text-decoration: none;
    transition: all 0.4s; }
    .main-navigation__link--active {
      font-weight: 700;
      cursor: default; }
      .main-navigation__link--active:hover {
        text-shadow: rgba(255, 255, 255, 0) 0 0 2px !important; }
    .main-navigation__link:visited {
      color: #fefeff; }
    .main-navigation__link:hover {
      text-shadow: white 0 0 2px; }
  .main-navigation__item {
    position: relative;
    font-size: 20px; }
    .main-navigation__item:nth-child(1)::before {
      content: '';
      height: 0;
      width: 0;
      position: absolute; }
    .main-navigation__item:before {
      content: '';
      height: 9px;
      width: 13px;
      left: -39px;
      top: 8px;
      position: absolute;
      background-image: url("./../img/cub.png"); }

.catalog-navigation {
  background-color: rgba(114, 19, 30, 0.67);
  margin-bottom: 20px; }
  .catalog-navigation__item {
    margin-right: 37px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .catalog-navigation__item i {
      transition: all 0.4s;
      margin-bottom: 6px;
      opacity: 0;
      width: 26px;
      height: 4px;
      background-color: #fefeff; }
    .catalog-navigation__item--active i {
      font-weight: 700;
      opacity: 1; }
    .catalog-navigation__item--active a {
      font-weight: 700; }
    .catalog-navigation__item:hover a {
      font-weight: 700; }
    .catalog-navigation__item:nth-child(1) {
      width: 70px; }
    .catalog-navigation__item:nth-child(2) {
      width: 140px; }
    .catalog-navigation__item:nth-child(3) {
      width: 50px; }
    .catalog-navigation__item:nth-child(4) {
      width: 65px; }
    .catalog-navigation__item:nth-child(5) {
      width: 90px; }
    .catalog-navigation__item:nth-child(6) {
      width: 85px; }
    .catalog-navigation__item:nth-child(7) {
      width: 75px; }
    .catalog-navigation__item:nth-child(8) {
      width: 95px; }
    .catalog-navigation__item:nth-child(9) {
      width: 65px; }
  .catalog-navigation__link {
    text-decoration: none;
    font-size: 16px;
    color: #fefeff; }
  .catalog-navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 82px;
    margin: 0; }

.catalog-content {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: rgba(98, 20, 28, 0.7) 0 0 70px 0; }
  .catalog-content__menu {
    list-style: none;
    border-bottom: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    letter-spacing: 0;
    padding: 0 60px;
    height: 90px; }
  .catalog-content__menu-item--active {
    background-color: #cc0d28;
    padding: 9px 11px;
    border-radius: 18px;
    letter-spacing: 1.1px; }
    .catalog-content__menu-item--active a {
      color: #fefeff;
      border-bottom: 1px dotted transparent; }
  .catalog-content__menu-link {
    text-decoration: none;
    font-size: 16px;
    color: #cc0d28;
    border-bottom: 1px dotted #cc0d28; }
    .catalog-content__menu-link:hover {
      border-bottom: 1px dotted transparent; }
  .catalog-content__list {
    display: flex;
    flex-wrap: wrap; }
  .catalog-content__item {
    min-height: 468px;
    width: 300px;
    padding: 30px 31px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #dedede;
    border-left: 1px solid transparent;
    border-top: 1px solid transparent;
    position: relative;
    padding-bottom: 50px; }
    .catalog-content__item:nth-child(4n) {
      border-right: 1px solid transparent; }
    .catalog-content__item:nth-last-child(-n+4) {
      border-bottom: 1px solid transparent; }
  .catalog-content__img {
    height: 170px;
    width: 240px;
    margin-bottom: 19px; }
  .catalog-content__title {
    font-size: 24px;
    color: #191a1e;
    margin: 0;
    margin-bottom: 17px;
    letter-spacing: 0.2px;
    height: 53px; }
  .catalog-content__price {
    position: relative;
    font-size: 28px;
    font-weight: 700;
    color: #cc0d28;
    margin: 0;
    letter-spacing: 0;
    margin-bottom: 27px; }
    .catalog-content__price::before {
      content: '';
      width: 95px;
      height: 1px;
      position: absolute;
      background-color: #cc0d28;
      left: 67px;
      bottom: -10px; }
    .catalog-content__price::after {
      content: '';
      width: 95px;
      height: 1px;
      position: absolute;
      background-color: #cc0d28;
      left: 67px;
      bottom: 35px; }
  .catalog-content__desc {
    font-size: 14px;
    color: #191a1e;
    margin-bottom: 25px; }
  .catalog-content__order {
    display: block;
    width: 231px;
    color: #cc0d28;
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 0;
    border: 2px solid #cc0d28;
    border-radius: 18px;
    letter-spacing: 0.6px;
    transition: all 0.4s;
    position: absolute;
    left: 31px;
    bottom: 30px; }
    .catalog-content__order:hover {
      background-color: #cc0d28;
      color: #FFFFFF; }
  .catalog-content__calc {
    width: 231px;
    color: #cc0d28;
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 0;
    border: 2px solid #cc0d28;
    border-radius: 18px;
    overflow: hidden;
    position: absolute;
    left: 31px;
    bottom: 30px; }
  .catalog-content__calc-less {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 66px;
    height: 36px;
    background-color: #cc0d28;
    cursor: pointer; }
    .catalog-content__calc-less::before {
      content: '';
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: #FFFFFF;
      left: 19px;
      top: 17px; }
  .catalog-content__calc-more {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 66px;
    height: 100px;
    background-color: #cc0d28;
    cursor: pointer; }
    .catalog-content__calc-more::before {
      content: '';
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: #FFFFFF;
      left: 22px;
      top: 17px; }
    .catalog-content__calc-more::after {
      content: '';
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: #FFFFFF;
      left: 22px;
      top: 17px;
      transform: rotate(90deg); }
  .catalog-content__size-item {
    font-size: 16px;
    display: inline-block;
    width: 75px;
    border: 1px solid #cc0d28;
    text-decoration: none;
    color: #cc0d28;
    font-family: Lato, Arial, sans-serif;
    border-radius: 20px;
    padding: 8px 0; }
    .catalog-content__size-item--active {
      font-weight: 700;
      color: #FFFFFF;
      background-color: #cc0d28; }

.main-catalog {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  margin-top: -326px; }

.slider {
  position: relative;
  box-shadow: rgba(98, 20, 28, 0.7) 0 0 70px 0;
  background-color: white; }
  .slider__item {
    display: none; }
    .slider__item--active {
      display: flex; }
  .slider__item-info {
    background-image: url("./../img/kv-3.jpg");
    width: 448px;
    color: #191a1e; }
  .slider__item-title {
    font-size: 50px;
    margin-left: 47px;
    margin-top: 269px;
    margin-bottom: 19px;
    letter-spacing: 4.0px;
    line-height: 1; }
  .slider__item-desc {
    font-size: 14px;
    width: 232px;
    margin-left: 49px; }
  .slider__nav {
    position: absolute;
    right: 192px;
    bottom: 12px; }
  .slider__btn {
    float: left;
    margin-right: 9px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
    border: 1px solid #c71c34;
    cursor: pointer; }
    .slider__btn--active {
      background-color: #c71c34; }

.logo {
  margin-right: 9px;
  box-shadow: rgba(0, 0, 0, 0.7) 0 0 109px 0;
  height: 182px; }

.about {
  text-align: center;
  width: 1200px;
  margin: 0 auto; }
  .about__title {
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 3.5px;
    margin-bottom: 33px; }
  .about__desc {
    width: 919px;
    margin: 0 auto;
    margin-bottom: 24px;
    font-family: 'Lato', 'Arial', sans-serif;
    letter-spacing: 0.1px;
    line-height: 1.4; }
  .about__slogan {
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.4px; }

.phone {
  position: relative;
  width: 294px;
  margin: 0;
  margin-left: auto; }
  .phone__number {
    position: relative;
    font-size: 50px;
    text-shadow: rgba(98, 20, 28, 0.55) 0 0 24px;
    margin-top: 37px;
    margin-bottom: 13px;
    letter-spacing: 2.4px;
    z-index: 5; }
    .phone__number:before {
      content: '700-300';
      letter-spacing: 2.4px;
      height: 34px;
      width: 340px;
      left: 2px;
      top: 2px;
      color: rgba(255, 255, 255, 0.5);
      position: absolute;
      z-index: -1; }
  .phone__desc {
    margin-top: 0;
    font-size: 14px; }
  .phone:before {
    content: '';
    height: 60px;
    width: 60px;
    left: -77px;
    top: 43px;
    position: absolute;
    background-image: url("./../img/phone.png"); }

.user {
  position: relative;
  width: 244px;
  background-color: rgba(194, 53, 43, 0.6);
  height: 172px;
  transition: all 0.4s;
  letter-spacing: 1.1px;
  line-height: 1.0; }
  .user__empty {
    width: 120px;
    margin-top: 62px;
    margin-right: 44px;
    margin-left: 81px;
    text-decoration: none;
    color: #fefeff;
    font-size: 28px;
    display: inline-block; }
    .user__empty:visited {
      color: #fefeff; }
  .user__wrap {
    display: none;
    margin-left: 81px; }
  .user__name {
    color: #fefeff;
    font-size: 28px;
    width: 120px;
    margin-top: 45px;
    margin-bottom: 10px; }
  .user__profile {
    position: relative;
    color: #ffe745;
    font-size: 13px;
    margin-top: 0;
    padding-bottom: 1px;
    text-decoration: none; }
    .user__profile:visited {
      color: #ffe745; }
    .user__profile:hover {
      border-bottom: 1px solid #ffe745; }
    .user__profile::before {
      content: '';
      position: absolute;
      height: 14px;
      width: 14px;
      left: 79px;
      top: 2px;
      background-image: url("./../img/up.png"); }
  .user:before {
    content: '';
    height: 27px;
    width: 26px;
    left: 36px;
    top: 66px;
    position: absolute;
    background-image: url("./../img/user.png"); }

.bucket {
  font-weight: 400;
  position: relative;
  width: 244px;
  background-color: #c2352b;
  height: 172px;
  transition: all 0.4s;
  letter-spacing: 1.1px;
  line-height: 1.0; }
  .bucket__empty {
    width: 120px;
    margin-top: 62px;
    margin-right: 44px;
    margin-left: 81px;
    text-decoration: none;
    color: #fefeff;
    font-size: 28px;
    display: inline-block;
    display: none; }
    .bucket__empty:visited {
      color: #fefeff; }
  .bucket__wrap {
    margin-left: 82px; }
  .bucket__prod {
    margin-top: 39px;
    margin-bottom: 8px;
    font-size: 24px;
    color: #ffe745; }
  .bucket__sum-text {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px; }
  .bucket__sum {
    color: #fefeff;
    font-size: 18px;
    width: 120px;
    margin-top: 0;
    margin-bottom: 10px; }
  .bucket__link {
    position: relative;
    color: #ffe745;
    font-size: 13px;
    margin-top: 0;
    padding-bottom: 1px;
    text-decoration: none; }
    .bucket__link:visited {
      color: #ffe745; }
    .bucket__link:hover {
      border-bottom: 1px solid #ffe745; }
    .bucket__link::before {
      content: '';
      position: absolute;
      height: 14px;
      width: 14px;
      left: 79px;
      top: 2px;
      background-image: url("./../img/up.png"); }
  .bucket:before {
    content: '';
    height: 27px;
    width: 33px;
    left: 36px;
    top: 66px;
    position: absolute;
    background-image: url("./../img/bucket.png"); }

.main {
  margin: 0 auto;
  margin-top: -310px;
  width: 1200px; }

.footer {
  background-image: url("./../img/fon-btm.jpg");
  height: 1038px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: -444px; }
  .footer__wrap {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-top: 90px;
    border-top: 1px solid #f8798a;
    height: 120px; }

.content {
  font-size: 14px;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 700;
  text-align: center;
  color: #911526;
  text-transform: uppercase; }
  .content__item {
    display: inline-block;
    vertical-align: middle;
    margin-top: 31px;
    border-bottom: 4px solid #d34b5d;
    background-color: #fff;
    box-shadow: rgba(98, 20, 28, 0.7) 0 0 70px 0;
    margin-right: 25px;
    color: #911526;
    transition: all 0.4s;
    text-decoration: none; }
    .content__item:visited {
      color: #911526; }
    .content__item:hover {
      transform: translateY(-10px); }
    .content__item--big .content__item-title {
      padding: 48px 0;
      padding-top: 51px;
      padding-bottom: 45px; }
    .content__item--big-1 .content__item-title {
      background-image: url("./../img/kv-1.jpg"); }
    .content__item--big-2 .content__item-title {
      background-image: url("./../img/kv-2.jpg"); }
  .content__item:nth-child(2) {
    margin-right: 0; }
  .content__item:nth-child(4n +2) {
    margin-right: 0; }
  .content__item-title {
    padding: 38px 0;
    font-size: 18px;
    font-weight: 800;
    background-image: url("./../img/category-bg.jpg"); }

.author {
  padding-top: 22px;
  margin-left: 30px; }
  .author__copy {
    letter-spacing: 1.5px; }
  .author__desc {
    font-size: 11px;
    margin-bottom: 15px;
    letter-spacing: 0.8px; }

.kaerus {
  display: flex;
  margin-top: 31px;
  margin-left: auto; }
  .kaerus__img {
    width: 131px;
    height: 52px; }
  .kaerus__link {
    color: #ffe745;
    width: 112px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 10px; }
    .kaerus__link:visited {
      color: #ffe745; }
    .kaerus__link:hover {
      text-decoration: underline; }

.product {
  position: relative;
  width: 1200px;
  height: 580px;
  margin: 0 auto;
  background: #FFFFFF;
  display: flex;
  margin-bottom: 38px;
  box-shadow: rgba(98, 20, 28, 0.7) 0 0 70px 0; }
  .product__info {
    position: relative;
    padding-left: 50px;
    width: 568px;
    background-image: url("../../img/product-bg.jpg"); }
  .product__img {
    height: 580px;
    width: 632px; }
  .product__title {
    font-size: 50px;
    color: #191a1e;
    margin: 0;
    margin-bottom: 34px;
    letter-spacing: 0.2px;
    font-weight: 400;
    margin-top: 45px;
    width: 460px;
    line-height: 1.0; }
  .product__price {
    position: relative;
    font-size: 38px;
    font-weight: 700;
    color: #cc0d28;
    margin: 0;
    letter-spacing: 0;
    margin-bottom: 47px; }
    .product__price::before {
      background-color: #cc0d28;
      content: '';
      width: 125px;
      height: 2px;
      position: absolute;
      left: 12px;
      bottom: -14px; }
    .product__price::after {
      content: '';
      width: 125px;
      height: 2px;
      position: absolute;
      background-color: #cc0d28;
      left: 12px;
      bottom: 47px; }
  .product__add-ingredients {
    position: relative;
    display: inline-block;
    color: #cc0d28;
    font-size: 18px;
    text-decoration: none;
    border-bottom: 2px dotted #cc0d28;
    margin-left: 83px;
    height: 25px;
    letter-spacing: 0; }
    .product__add-ingredients:visited {
      color: #cc0d28; }
    .product__add-ingredients:hover {
      border-bottom: 2px dotted transparent; }
    .product__add-ingredients::before {
      content: '';
      position: absolute;
      width: 27px;
      height: 29px;
      left: -45px;
      top: 0;
      background-image: url("../../img/add-ingr.png"); }
  .product__desc-title {
    font-weight: 700;
    font-size: 20px;
    color: #191a1e;
    margin: 0;
    margin-bottom: 5px; }
  .product__desc {
    font-size: 14px;
    color: #191a1e;
    margin: 0;
    margin-bottom: 34px;
    width: 348px; }
  .product__order {
    position: relative;
    text-align: center;
    display: block;
    width: 213px;
    color: #cc0d28;
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 0;
    border: 2px solid #cc0d28;
    border-radius: 18px;
    letter-spacing: 0.6px;
    transition: all 0.4s; }
    .product__order:hover {
      background-color: #cc0d28;
      color: #FFFFFF; }
  .product__wrap-1 {
    display: flex;
    margin-bottom: 25px; }
  .product__wrap-2 {
    display: flex; }
  .product__calc {
    position: relative;
    text-align: center;
    width: 213px;
    color: #cc0d28;
    font-size: 16px;
    font-family: Lato, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
    padding: 9px 0;
    border: 2px solid #cc0d28;
    border-radius: 18px;
    overflow: hidden;
    margin-right: 20px; }
  .product__calc-less {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 66px;
    height: 36px;
    background-color: #cc0d28;
    cursor: pointer; }
    .product__calc-less::before {
      content: '';
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: #FFFFFF;
      left: 19px;
      top: 17px; }
  .product__calc-more {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    width: 66px;
    height: 100px;
    background-color: #cc0d28;
    cursor: pointer; }
    .product__calc-more::before {
      content: '';
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: #FFFFFF;
      left: 22px;
      top: 17px; }
    .product__calc-more::after {
      content: '';
      width: 24px;
      height: 2px;
      position: absolute;
      background-color: #FFFFFF;
      left: 22px;
      top: 17px;
      transform: rotate(90deg); }
  .product__size-item {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    width: 75px;
    border: 1px solid #cc0d28;
    text-decoration: none;
    color: #cc0d28;
    font-family: Lato, Arial, sans-serif;
    border-radius: 20px;
    padding: 8px 0; }
    .product__size-item--active {
      font-weight: 700;
      color: #FFFFFF;
      background-color: #cc0d28; }

.recommendation {
  box-shadow: rgba(98, 20, 28, 0.7) 0 0 70px 0;
  width: 1200px;
  margin: 0 auto; }
  .recommendation__list {
    display: flex;
    flex-wrap: wrap;
    background-color: #FFFFFF; }
  .recommendation__main-title {
    font-weight: 400;
    font-size: 24px;
    background-color: #91071b;
    height: 55px;
    margin: 0;
    padding-left: 29px;
    padding-top: 25px; }

.pizza-constructor {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  color: #191a1e;
  box-shadow: rgba(98, 20, 28, 0.7) 0 0 70px 0;
  margin-bottom: 23px; }
  .pizza-constructor__info {
    background-image: url("./../img/pizza-bg.jpg");
    width: 448px;
    padding-left: 48px; }
  .pizza-constructor__title {
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
    margin-top: 44px;
    margin-bottom: 10px;
    letter-spacing: 3px; }
  .pizza-constructor__desc {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 21px;
    width: 220px;
    letter-spacing: 1.5px; }
  .pizza-constructor__link {
    position: relative;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    background: linear-gradient(to top, #c7232e, #e95040);
    border-radius: 21px;
    width: 234px;
    padding: 12px 0;
    letter-spacing: 1px;
    padding-left: 29px; }
    .pizza-constructor__link::before {
      content: '';
      width: 14px;
      height: 14px;
      position: absolute;
      background-image: url("./../img/up-white.png");
      right: 24px;
      top: 14px; }

.animation-img {
  animation-name: animation;
  animation-duration: 0.6s; }

@keyframes animation {
  0% {
    opacity: 0.4; }
  100% {
    opacity: 1; } }

.animation-title {
  animation-name: animation-title;
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes animation-title {
  0% {
    transform: translateY(70px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

.animation-text {
  animation-name: animation-text;
  animation-duration: 1.0s;
  animation-fill-mode: both; }

@keyframes animation-text {
  0% {
    transform: translateY(150px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
